* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* base colors  */
  --blue: #2f478f;
  --white: #fff;
  --aqua: #3dcab5;
  --grey: #8da3b0;
  --lightgrey: #cbcbcb;

  /* fonts */
  --mainFont: "Open Sans", sans-serif;
  --secondaryFont: "Quicksand", sans-serif;
}

html {
  font-family: var(--mainFont);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--secondaryFont);
}

h4 {
  font-size: 1.2rem;
}

p {
  font-weight: 200;
}

.vp-btn {
  margin: 0;
}
