header {
  position: sticky;
  top: 2rem;
  z-index: 999;
}

.headerWrapper {
  /* margin-top: 2rem; */
  height: 2.5rem;
  background-color: var(--blue);
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* z-index: 3; */
}

.helloUser {
  color: var(--white);
  margin-left: 2rem;
}

.arrowBtn svg {
  fill: var(--white);
  max-width: 0.75rem;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--white);
  /* width: 10rem; */
}

.arrowBtn {
  background-color: var(--aqua);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.75rem;
  transition: all ease-in-out 0.3s;
}

.arrowBtn:hover {
  transform: scale(1.2);
}

.userImage a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  border: 3px solid var(--blue);
  border-radius: 50%;
  background-color: var(--white);
  transition: all ease-in-out 0.3s;
}

.userImageBg {
  width: 5rem;
  opacity: 25%;
  border-radius: 50%;
  object-fit: fill;
}

.initials {
  position: absolute;
  color: var(--blue);
  font-family: var(--secondaryFont);
  font-weight: bold;
  font-size: 1.5rem;
  transition: all ease-in-out 0.3s;
}
.userImage a:hover {
  border-color: var(--aqua);
}
.userImage a:hover .initials {
  color: var(--aqua);
}

/* NAVIGATIE  */

nav {
  position: sticky;
  top: 5rem;
  z-index: 999;
}

.navWrapper {
  width: 15vw;
  padding-left: 2rem;
  /* background: purple; */
  position: absolute;
}

nav li svg {
  width: 2.5rem;
}

.st0,
.st1,
.st2,
.st3 {
  fill: var(--grey);
  transition: all ease-in-out 0.3s;
}

.navOverzicht:hover .st0,
.navAgenda:hover .st1,
.navVerbeteren:hover .st2,
.navProfiel:hover .st3 {
  fill: var(--aqua);
}

.nav_active .st0,
.nav_active .st1,
.nav_active .st2,
.nav_active .st3 {
  fill: var(--aqua);
}

nav li {
  display: flex;
  margin: 2rem 0;
}

.nav a {
  text-decoration: none;
  color: var(--grey);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  transition: color ease-in-out 0.3s;
  font-weight: 600;
}

.nav:hover a {
  color: var(--aqua);
}

.nav_active a {
  color: var(--aqua);
}

.nav_active::after {
  content: "";
  position: absolute;
  left: 0.5rem;
  height: 2.5rem;
  width: 1rem;
  border-right: 3px solid var(--aqua);
}

.navName {
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
}
