.inputPage,
.inputPageVLER,
.inputPageRP {
  display: none;
}

.inputPage.active,
.inputPageVLER.active,
.inputPageRP.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  position: relative;
}

.input-header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--blue);
  z-index: 3;

  color: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.tempInput {
  display: none;
}

.tempInput.active {
  width: calc(26vw - 3rem);
  height: calc(78vh - 7rem);
  margin-top: 1rem;
  border: none;
  font-family: var(--mainFont);
  color: black;

  display: flex;
}

.tempInput.active:focus {
  outline: none;
}

.tempInput::placeholder {
  font-family: var(--mainFont);
  color: var(--grey);
}

.annuleerInput,
.annuleerInputVLER,
.annuleerInputRP,
.saveInput,
.saveInputVLER,
.saveInputRP {
  cursor: pointer;
}
