.inputPage,
.inputPageVLER {
  display: none;
}

.inputPage.active,
.inputPageVLER.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  position: relative;
}

.input-header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--blue);
  z-index: 3;

  color: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.tempInput {
  display: none;
}

.tempInput.active {
  width: calc(26vw - 3rem);
  height: calc(78vh - 7rem);
  margin-top: 1rem;
  border: none;
  font-family: var(--mainFont);
  color: black;

  display: flex;
}

.tempInput::placeholder {
  font-family: var(--mainFont);
  color: var(--grey);
}
/* .blueBar {
  width: calc(100%);
  height: 2rem;
  background-color: var(--blue);

  display: flex;
  justify-content: center;
  align-items: center;
} */
