:root {
  /* test  */
  --bp: 0%;
  --c0: #ffffff;
  --c1: #2f478f;
  --beddenPercentage: 65%;
}

.oz-wk {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}

.oz-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* width */
.oz-wk::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.oz-wk::-webkit-scrollbar-track {
  background: var(--blue);
}

/* Handle */
.oz-wk::-webkit-scrollbar-thumb {
  background: var(--blue);
}

/* Handle on hover */
.oz-wk::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}

.oz-wk-wrapper,
.oz-wk-edit-wrapper {
  visibility: hidden;
  width: 0;
  height: 0;
}

.oz-wk-wrapper.active,
.oz-wk-edit-wrapper.active {
  visibility: initial;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2rem;
  width: 100%;
}

.totaalBedden {
  width: 55%;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wk-edit-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  position: relative;
}

.submitEditForm {
  border: none;
  position: absolute;
  top: -3.8rem;
  left: 1rem;

  width: 2rem;
  height: 2rem;
  background-color: var(--aqua);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

.submitEditForm:hover {
  transform: scale(1.2);
}

.submitEditForm img {
  width: 1rem;
  height: 1rem;
}

.totaalBeddenEdit {
  width: 15rem;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editBedden {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 0.5rem;
}

.totaalBeddenInput {
  width: 4rem;
  height: 2rem;
  /* padding: 2rem 1rem; */
  border: none;
  border-radius: 5px;
  text-align: center;
}

.totaalOpnameInput,
.totaalOntslagInput {
  visibility: hidden;
  width: 0;
  height: 0;
}

.minus,
.plus {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--aqua);
  border-radius: 50%;
  margin: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.plus img {
  width: 0.75rem;
}

.minus img {
  width: 0.65rem;
}

.opname-icon-wrapper,
.ontslag-icon-wrapper {
  display: flex;
  align-items: center;
}

.addBtn.wk {
  margin-left: 1rem;
}

.addOno,
.addOpo {
  width: 2rem;
  height: 2rem;
  background-color: var(--aqua);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;

  transition: all 0.3s ease-in-out;
}

.opname-usericons-wrapper,
.ontslag-usericons-wrapper {
  display: flex;
}

.opnames .opname-icon-wrapper .addOno img,
.ontslagen .ontslag-icon-wrapper .addOpo img {
  max-width: 1rem;
  max-height: 1rem;
  margin-top: 0;
}

.ono,
.opo {
  margin: 0.7rem 0.3rem 0 0;
  width: 1.4vw;
  height: 2.5rem;
  background-image: url(/images/icons/ic-person.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.4vw;
  position: relative;
}

.ono::after,
.opo::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--aqua);
  background-image: url(/images/icons/ic-minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.5rem;

  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
}

.oz-wk-info {
  width: 45%;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
}

.oz-wk-info-edit {
  width: 12rem;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
}

.beddenData {
  width: 9vw;
  height: 9vw;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2vw;
  font-weight: 100;
  margin-top: 1rem;

  position: relative;
}

.beddenData {
  background: conic-gradient(
    var(--white) var(--beddenPercentage),
    var(--blue) 0
  );
}

@supports (background: paint(houdini)) {
  .beddenData {
    background: conic-gradient(var(--white), var(--pos, 0%), var(--blue) 0);
    border-radius: 50%;
    animation: 0s 1;
    animation-duration: 2s, 1s;
    animation-timing-function: steps(1), ease-in-out;
    animation-fill-mode: forwards;
    animation-name: c0, posDaily;
  }
}

.beddenData::before {
  content: "";
  width: 7.5vw;
  height: 7.5vw;
  position: absolute;
  background: var(--blue);
  border-radius: 50%;
}

.beddenData p {
  z-index: 10;
}

.opnames,
.ontslagen {
  height: calc(min(6rem, 14vh));
}

.opnames img,
.ontslagen img {
  margin-top: 0.7rem;
  width: 1.8vw;
}

@keyframes posDaily {
  to {
    --pos: var(--beddenPercentage);
  }
}

@keyframes c0 {
  50% {
    --c0: #ffffff;
  }
}

/* -----------------  INCIDENTEN  -----------------  */
/* check content.css for more oz-incidenten styling  */
.oz-incidenten {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.ic-val {
  width: calc(100% - 4rem);
  min-height: 3.5rem;
  background-color: var(--blue);
  position: relative;
  margin-left: 2rem;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border-radius: 5px;
}

.ic-val::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--aqua);
  background-image: url(/images/icons/arrowRight.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.75rem;

  position: absolute;
  right: 1rem;
  top: 1rem;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.ic-val:hover::after {
  opacity: 1;

  position: absolute;
  right: 1rem;
  top: 1rem;
}

.ic-meta {
  display: flex;
  flex-direction: row;
  color: var(--white);
  font-size: 14px;
  font-weight: 100;
}

.ic-date {
  padding: 0 0.75rem 0 2rem;
}
.ic-time {
  padding: 0 0rem 0 0rem;
}

.ic-val img {
  width: 2.5rem;
  border: 2px solid var(--blue);
  border-radius: 50%;
  background-color: white;

  position: absolute;
  top: 0.5rem;
  left: -1rem;
}

.ic-val h4 {
  color: var(--white);
  padding-left: 2rem;
  font-size: 1rem;
}

/* -----------------  Pauzes  -----------------  */
/* check content.css for more oz-incidenten styling  */
.oz-pauzes,
.oz-visite {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.pa-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.eerstePauze,
.tweedePauze {
  width: 50%;
  /* background-color: burlywood; */
  padding: 0.25rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pa-name {
  font-size: 0.8rem;
  font-weight: 100;
  padding-left: 0.5rem;
  cursor: pointer;
}

.pa-name-available {
  font-size: 0.8rem;
  font-weight: 100;
  padding-left: 0.5rem;
  color: var(--grey);
  cursor: pointer;
}

.pa-name-available:hover,
.pa-name:hover {
  color: var(--aqua);
  text-decoration: underline;
}

.eerstePauze h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pa-person {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.3rem;
}

.pa-user-icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--blue);
  border-radius: 50%;
  background-color: var(--white);
  transition: all ease-in-out 0.3s;
}

.pa-person-bgImage {
  width: 2rem;
  opacity: 25%;
  border-radius: 50%;
  object-fit: fill;
}

.pa-initials {
  position: absolute;
  color: var(--blue);
  font-family: var(--secondaryFont);
  font-weight: 700;
  font-size: 0.6rem;
  transition: all ease-in-out 0.3s;
}

.pa-wrapper hr {
  border: 1px solid var(--grey);
  margin: 5% 0 10% 0;
}

/* -----------------  Meldingen  -----------------  */
/* check content.css for more oz-incidenten styling  */

.rc-overzicht {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.rc-overzicht-header {
  background-color: var(--white);
  padding: 0.5rem 0 2rem 0;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;

  z-index: 3;
}

.rc-melding-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.rc-notification {
  background-color: var(--blue);
  width: 100%;
  border-radius: 5px;
  color: var(--white);
  font-size: 1rem;
  padding: 1rem;
  position: relative;
}

.rc-notification p {
  width: 75%;
}

.rc-noti-verb {
  font-weight: 700;
}

.rc-notification::after,
.rc-melding::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--aqua);
  background-image: url(/images/icons/arrowRight.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.75rem;

  position: absolute;
  right: 1rem;
  top: calc(50% - 0.75rem);
  cursor: pointer;

  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.rc-notification:hover::after,
.rc-melding:hover::after {
  transform: scale(1.2);
  opacity: 1;
}

.showArrow.rc-notification::after {
  opacity: 1;
}

.rc-melding {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 0;
  position: relative;
  padding-left: 1rem;
  opacity: 0.5;

  transition: opacity 0.3s ease-in-out;
}

.rc-melding:nth-child(2) {
  padding-top: 2rem;
}

.rc-melding:hover {
  opacity: 1;
}

.rc-melding-text {
  font-size: 0.8rem;
  padding-left: 0.75rem;
  width: 75%;
  color: var(--grey);
}

.rc-footer {
  position: sticky;
  left: 0;
  bottom: 0;

  background-color: var(--white);
  width: 100%;
  height: 12rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.rc-active-verb,
.rc-successen,
.rc-verbeteringen {
  background-color: var(--blue);
  width: 32%;
  height: 9rem;
  margin: 0 0rem 2rem 0rem;
  border-radius: 5px;
  color: var(--white);
  text-align: center;

  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}

.rc-successen {
  background-color: var(--white);
  color: var(--blue);
  border: 2px solid var(--blue);
}

.rc-active-verb::after,
.rc-successen::after {
  content: "";
  transform: scale(1) rotate(90deg);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--aqua);
  background-image: url(/images/icons/arrowRight.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.75rem;

  position: absolute;
  left: calc(50% - 0.75rem);
  bottom: -0.75rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.rc-active-verb:hover::after,
.rc-successen:hover::after {
  transform: scale(1.2) rotate(90deg);
}

.rc-number {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0.3rem 0; */

  font-size: 2.3rem;
  font-weight: 800;
}

/* -----------------  Witte blokken scrollbar  -----------------  */

/* width */
.oz-incidenten::-webkit-scrollbar,
.oz-pauzes::-webkit-scrollbar,
.oz-visite::-webkit-scrollbar,
.rc-overzicht::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.oz-incidenten::-webkit-scrollbar-track,
.oz-pauzes::-webkit-scrollbar-track,
.oz-visite::-webkit-scrollbar-track,
.rc-overzicht::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
.oz-incidenten::-webkit-scrollbar-thumb,
.oz-pauzes::-webkit-scrollbar-thumb,
.oz-visite::-webkit-scrollbar-thumb,
.rc-overzicht::-webkit-scrollbar-thumb {
  background: var(--white);
}

/* Handle on hover */
.oz-incidenten::-webkit-scrollbar-thumb:hover,
.oz-pauzes::-webkit-scrollbar-thumb:hover,
.oz-visite::-webkit-scrollbar-thumb:hover,
.rc-overzicht::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}
