.lc-verbeteren {
  display: none;
}

.lc-verbeteren.active,
.mc-verbeteren,
.rc-verbeteren {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  position: relative;
}

.verbeterenWrapper h2 {
  color: var(--blue);
}

.lc-verbeteren-wrapper {
  width: 80%;
}

.verb-notification {
  color: var(--grey);
  text-align: center;
  padding: 1rem 0;
  font-weight: 200;
  min-height: 5rem;
}

.verb-notification span {
  font-weight: 800;
}

.searchbar {
  width: 100%;
  position: relative;
}

.searchbar input {
  width: 100%;
  border: 2px solid var(--grey);
  background-color: var(--white);
  border-radius: 5px;
  height: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.searchbar input:focus {
  outline: none;
  border: 2px solid var(--aqua);
}

.searchbar::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(/images/icons/ic-search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;

  position: absolute;
  top: calc(50% - 0.75rem);
  left: 0.3rem;
}

.searchbar::placeholder {
  color: var(--lightgrey);
}

.lc-nieuwe-verbazing {
  width: 100%;
  height: 4rem;
  background-color: var(--lightgrey);
  margin: 1rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  opacity: 0.5;

  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 700;
}

.lc-nieuwe-verbazing:hover {
  opacity: 1;
}

.verbazing-active {
  background-color: var(--blue);
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.27);

  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0;
  position: relative;

  cursor: pointer;
}

.verb-active-header {
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.verb-date {
  font-weight: 700;
  margin-right: 1rem;
}

.verb-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.status-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--bleu);
  border: 1.5px solid var(--white);
  border-radius: 50%;
  position: relative;
  margin-right: 0.3rem;
}

.status-icon::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  position: absolute;
  top: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);

  border-radius: 50%;
}

.verb-user,
.vp-user {
  width: 2rem;
  height: 2rem;
  background-color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 50%;

  color: var(--blue);
  font-size: 0.75rem;
  font-weight: 800;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.unknownUser .verb-user {
  color: var(--aqua);
  font-size: 1rem;
}

.verb-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem 0;
}

.verb-info h4 {
  color: var(--white);
  /* font-size: 1rem; */
}

.btn-ver-info-wrapper.inactive {
  display: none;
}

.btn-small.inactive {
  display: none;
}

.btn-ver-info-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

/* -----------------  successen  -----------------  */

.successen {
  background-color: var(--blue);
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.27);

  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0;
  position: relative;
}

.successen .verb-status {
  display: none;
}

.successen.verb-succes {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 15%,
    rgba(238, 240, 246, 1) 100%
  );
}

.successen.verb-succes .verb-active-header,
.successen.verb-succes .verb-info h4 {
  color: black;
}

.successen.verb-succes .status-icon {
  color: var(--white);
  border: 1.5px solid var(--blue);
}

.successen.verb-succes .status-icon::after {
  background-color: var(--blue);
}
.successen.verb-succes .verb-status-text {
  color: var(--blue);
}

.successen.verb-succes .verb-status {
  display: flex;
}

/* INTERACTION */
.successen::after,
.verbazing-active::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--aqua);
  background-image: url(/images/icons/arrowRight.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.75rem;

  position: absolute;
  right: 1rem;
  top: 1rem;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.successen:hover::after,
.verbazing-active:hover::after {
  opacity: 1;
}

/* -----------------  verbeterprojecten  -----------------  */
.verbeter-project {
  background-color: var(--blue);
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.27);

  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0;
  position: relative;
}

.vp-header-wrapper {
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vp-header-wrapper .icEvaluatie {
  width: 2rem;
}

.vp-user-wrapper {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vp-user:nth-child(2) {
  margin-left: -0.5rem;
}

.vp-date {
  color: var(--white);
  padding-left: 0.5rem;
}

.vp-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.75rem 0 0 0;

  color: var(--white);
}

.vp-details {
  display: flex;
  flex-direction: column;
}

.vp-details p {
  margin-top: 1rem;
  font-weight: 200;
}

/* -----------------  Verbazing melden  -----------------  */
/* -----------------  Verbazing melden  -----------------  */
/* -----------------  Verbazing melden  -----------------  */

.verbazingMelden {
  display: none;
}

.verbazingMelden.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  background-color: #f5f5f5;
}

.verbazingMelden-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  position: relative;

  width: 100%;
  padding-top: 1rem;
}

.standard-header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--blue);
  z-index: 3;
}

.blueBar {
  width: calc(100%);
  height: 2rem;
  background-color: var(--blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

.verb-melden-form-wrapper {
  margin-top: 1rem;
  padding-bottom: 3rem;
}

/* FORM MELDEN  */

.verb-melden-form fieldset {
  border: none;
}

.verb-melden-form legend {
  display: none;
}

.verb-melden-formfield-wrapper {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0;
}

.inner-formfield-wrapper {
  width: 80%;
}

.verb-melden-form label {
  color: var(--blue);
  font-weight: 600;
}

.verb-melden-form input {
  border: none;
  position: relative;
  padding: 1rem 0 1rem 1.5rem;
  background-color: transparent;
  width: 100%;
}

.verb-melden-form textarea {
  min-height: 6rem;
  width: calc(26vw - 5rem);
  border: none;
  font-family: var(--mainFont);
  position: relative;
  padding: 1rem 0 1rem 1.5rem;
  overflow-y: hidden;
}

.verb-melden form textarea::placeholder {
  font-family: var(--mainFont);
  color: var(--grey);
}

.verb-melden-form input::placeholder {
  color: var(--lightgrey);
  font-family: var(--mainFont);
}

.inputIcon {
  position: relative;
}

.inputIcon::after {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-image: url(/images/icons/ic-input.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
}

.verb-melden-formfield-btn-wrapper {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.btn-normalWrapper-verb-melden {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.attention {
  background-color: var(--blue);
  border-radius: 5px;
  width: 80%;

  color: var(--white);
  text-align: center;
  padding: 1rem;
}

.attention-icon {
  font-size: 1.5rem;
  margin: 0.3rem 0;
}

.attention h4 {
  margin: 0.3rem 0;
}

.verb-melden-submitBtn-wrapper {
  background: var(--white);
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.form-tip {
  font-size: 0.75rem;
  color: var(--grey);
}

/* -----------------  Verbazing Details  -----------------  */
/* -----------------  Verbazing Details  -----------------  */
/* -----------------  Verbazing Details  -----------------  */

.verbazingDetails {
  display: none;
}

.verbazingDetails.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  background-color: #f5f5f5;
}

.verbazingDetails-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  position: relative;

  width: 100%;
  padding-top: 2rem;
}

.verb-det-meta {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.meta-lc {
  width: 50%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.meta-lc h2 {
  text-align: left;
}

.chip {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chip p {
  background: var(--blue);
  padding: 0.3rem 0.5rem;
  margin: 0.3rem 0;
  border-radius: 5px;
  color: var(--white);

  font-weight: 700;
  font-size: 0.75rem;
}

.meta-rc {
  display: flex;
  flex-direction: column;
  padding-right: 10%;

  margin-left: auto;

  position: relative;
}

.meta-rc::after {
  content: "";
  width: 1rem;
  height: 4rem;
  border-left: 1.5px solid var(--grey);

  position: absolute;
  left: calc(0.65rem - 1.5px);
  bottom: 0.3rem;
  z-index: 1;
}

.meta-totaalmeldingen span {
  width: 1.3rem;
  height: 1.3rem;
  font-size: 0.75rem;
  border: 2px solid var(--blue);
  background-color: var(--white);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--blue);
  font-weight: 700;

  margin-right: 0.3rem;

  position: absolute;
  top: calc(50% - 0.65rem);
  left: 0;
}

.meta-totaalmeldingen p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--blue);
  font-weight: 200;
  padding-left: 1.75rem;
  position: relative;
  height: 2rem;
}

.meta-status-nieuw,
.meta-status-opgepakt,
.meta-status-verbeterd {
  color: var(--grey);
  font-weight: 700;
  padding-left: 1.75rem;
  position: relative;
  margin: 0.2rem 0;
}

.meta-status-icon {
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid var(--grey);
  background: var(--white);
  border-radius: 50%;

  position: absolute;
  top: calc(50% - 0.65rem);
  left: 0;
  z-index: 2;
}

.status-voltooid .meta-status-icon::after,
.status-active .meta-status-icon::after {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--blue);
  border-radius: 50%;

  position: absolute;
  left: calc(0.12rem);
  top: calc(50% - 0.65rem + 0.25rem);
  z-index: 2;
}

.status-onvoltooid .meta-status-icon::after {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--white);
  border-radius: 50%;

  position: absolute;
  left: calc(0.12rem);
  top: calc(50% - 0.65rem + 0.25rem);
  z-index: 2;
}

.status-active {
  color: var(--blue);
}

/* -----------------  Verbazing overzicht  -----------------  */
/* -----------------  Verbazing overzicht  -----------------  */
/* -----------------  Verbazing overzicht  -----------------  */

.verbazingOverzicht,
.verbazingOverzichtRP {
  display: none;
}

.verbazingOverzicht.active,
.verbazingOverzichtRP.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  background-color: var(--white);
}

.verbazingOverzicht-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  position: relative;

  width: 100%;
  padding: 1rem 0 3rem 0;
}

.verb-overzicht-meldingen-wrapper {
  margin-top: 2rem;
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;

  cursor: pointer;
}

.verb-overzicht-melding {
  width: 100%;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.27);
  padding: 1rem 1rem 2rem 1rem;
  margin-bottom: 1rem;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* INTERACTION */
.verb-overzicht-melding::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--aqua);
  background-image: url(/images/icons/arrowRight.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.75rem;

  position: absolute;
  right: 1rem;
  top: 1rem;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.verb-overzicht-melding:hover::after {
  opacity: 1;
}

.verb-melding-verbeterd {
  color: black;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 15%,
    rgba(238, 240, 246, 1) 100%
  );
}

.verb-overzicht-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.verb-overzicht-datum {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-weight: 800;
}

.verb-overzicht-userIcon {
  width: 2rem;
  height: 2rem;
  background-color: var(--white);
  border-radius: 2px solid var(--blue);
  color: var(--blue);
  font-size: 0.75rem;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
}

.verb-overzicht-status-icon {
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--white);
  background-color: var(--blue);
  position: absolute;
  top: calc(50% - 0.5rem);
  left: 0;

  border-radius: 50%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.verb-melding-verbeterd .verb-overzicht-status-icon {
  border: 2px solid var(--blue);
  background-color: var(--white);
}

.verb-overzicht-status-icon::after {
  content: "";
  width: 0.55rem;
  height: 0.55rem;
  background-color: var(--white);
  position: absolute;
  top: calc(50% - 0.5rem + 0.185rem + 0.025rem);
  left: calc(0.065rem + 0.025rem);

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.verb-melding-verbeterd .verb-overzicht-status-icon::after {
  background-color: var(--blue);
}

.verb-overzicht-status {
  font-size: 0.75rem;
  font-weight: 700;
  position: relative;
  padding-left: 1.3rem;
  margin-right: 1rem;
}

.verb-melding-verbeterd .verb-overzicht-status {
  color: var(--blue);
}
.verb-overzicht-evaluatiedatum {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 0.75rem;
}

.verb-overzicht-evaluatiedatum img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.verb-overzicht-situatie {
  padding-top: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.verb-overzicht-situatie h4 {
  font-size: 1rem;
}

.verb-overzicht-situatie p {
  font-weight: 200;
}

.verbeterproject-starten {
  background: var(--blue);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  color: var(--white);

  margin-top: 2rem;
}

.verbeterproject-starten h4 {
  font-size: 1rem;
}

.vb-starten-info {
  font-weight: 200;
}
.vb-starten-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta-nieuw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 1rem;
}

.cta-nieuw-rp.inactive {
  display: none;
}

.btn-oppakken {
  margin-left: 4rem;
}

.cta-bespreken {
  border: 2px solid var(--blue);
  transition: all 0.3s ease-in-out;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cta-bespreken::after {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0.3rem;
  right: -1.3rem;

  background-image: url(/images/icons/arrowRight-aqua.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
}

.cta-bespreken:hover {
  border-bottom: 2px solid var(--aqua);
}

/* -----------------  Verbazing melding   -----------------  */
/* -----------------  Verbazing melding  -----------------  */
/* -----------------  Verbazing melding  -----------------  */
.situatie-main-header {
  background-color: var(--blue);
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.situatie-main-header h4 {
  color: var(--white);
  padding: 1rem;
  margin: 0;
}

.formfield-verantwoordelijke {
  background-color: transparent;
}

.verantwoordelijkeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.verantwoordelijkeIcon.inactive {
  display: none;
}

.verantwoordelijkeIcon input {
  padding-left: 1rem;
  font-weight: 700;
  color: var(--blue);
}

.verantwoordelijkeIcon p {
  min-width: 4rem;
  height: 4rem;
  background-color: var(--white);
  border: 2px solid var(--blue);
  font-size: 1rem;
  font-weight: 700;
  color: var(--blue);

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.verantwoordelijkeBtn-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2rem;
  margin-top: 1rem;

  cursor: pointer;
}

.verantwoordelijkeBtn-wrapper:hover .addBtn {
  transform: scale(1.2);
}

.verantwoordelijkeBtn-wrapper p {
  font-size: 0.75rem;
  border-bottom: 2px solid var(--aqua);
  color: var(--grey);
  display: flex;
}

.inputTimer {
  position: relative;
}

.inputTimer::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.5rem);
  left: 0;
  width: 1rem;
  height: 1rem;
  background-image: url(/images/icons/ic-timer.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
}

/* -----------------  Witte blokken scrollbar  -----------------  */

/* width */

.verbazingOverzicht-content::-webkit-scrollbar,
.lc-verbeteren::-webkit-scrollbar,
.mc-verbeteren::-webkit-scrollbar,
.rc-verbeteren::-webkit-scrollbar {
  width: 10px;
}

.inputPage::-webkit-scrollbar,
.inputPageVLER::-webkit-scrollbar,
.inputPageRP::-webkit-scrollbar,
.verbazingMelden-content::-webkit-scrollbar,
.verbazingDetails-content::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.verbazingOverzicht-content::-webkit-scrollbar-track,
.verbazingMelden-content::-webkit-scrollbar-track,
.lc-verbeteren::-webkit-scrollbar-track,
.mc-verbeteren::-webkit-scrollbar-track,
.rc-verbeteren::-webkit-scrollbar-track {
  background: var(--white);
}

.verbazingDetails-content::-webkit-scrollbar-track {
  background: var(--verylightgrey);
}

/* Handle */
.verbazingOverzicht-content::-webkit-scrollbar-thumb,
.lc-verbeteren::-webkit-scrollbar-thumb,
.mc-verbeteren::-webkit-scrollbar-thumb,
.rc-verbeteren::-webkit-scrollbar-thumb {
  background: var(--white);
}

.verbazingDetails-content::-webkit-scrollbar-thumb,
.verbazingMelden-content::-webkit-scrollbar-thumb {
  background: var(--grey);
}

/* Handle on hover */
.verbazingDetails-content::-webkit-scrollbar-thumb:hover,
.verbazingOverzicht-content::-webkit-scrollbar-thumb:hover,
.verbazingMelden-content::-webkit-scrollbar-thumb:hover,
.lc-verbeteren::-webkit-scrollbar-thumb:hover,
.mc-verbeteren::-webkit-scrollbar-thumb:hover,
.rc-verbeteren::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}

/* TOGGLE  */
.toggleWrapper {
  margin: 1rem 1rem 1rem 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.toggle-text {
  color: var(--grey);
  font-weight: 700;
  font-size: 0.75rem;
  padding-left: 0.5rem;
}

.switch {
  display: inline-block;
  height: 17px;
  position: relative;
  width: 30px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 13px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 13px;
}

input:checked + .slider {
  background-color: var(--aqua);
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
