.lc-verbeteren {
  display: none;
}

.lc-verbeteren.active,
.mc-verbeteren,
.rc-verbeteren {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  position: relative;
}

.verbeterenWrapper h2 {
  color: var(--blue);
}

.lc-verbeteren-wrapper {
  width: 80%;
}

.verb-notification {
  color: var(--grey);
  text-align: center;
  padding: 1rem 0;
  font-weight: 200;
  min-height: 5rem;
}

.verb-notification span {
  font-weight: 800;
}

.searchbar {
  width: 100%;
  position: relative;
}

.searchbar input {
  width: 100%;
  border: 2px solid var(--grey);
  background-color: var(--white);
  border-radius: 5px;
  height: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.searchbar input:focus {
  outline: none;
  border: 2px solid var(--aqua);
}

.searchbar::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(/images/icons/ic-search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;

  position: absolute;
  top: calc(50% - 0.75rem);
  left: 0.3rem;
}

.searchbar::placeholder {
  color: var(--lightgrey);
}

.lc-nieuwe-verbazing {
  width: 100%;
  height: 4rem;
  background-color: var(--lightgrey);
  margin: 1rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  opacity: 0.5;

  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 700;
}

.lc-nieuwe-verbazing:hover {
  opacity: 1;
}

.verbazing-active {
  background-color: var(--blue);
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.27);

  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0;
  position: relative;
}

.verb-active-header {
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.verb-date {
  font-weight: 700;
  margin-right: 1rem;
}

.verb-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.status-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--bleu);
  border: 1.5px solid var(--white);
  border-radius: 50%;
  position: relative;
  margin-right: 0.3rem;
}

.status-icon::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  position: absolute;
  top: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);

  border-radius: 50%;
}

.verb-user,
.vp-user {
  width: 2rem;
  height: 2rem;
  background-color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 50%;

  color: var(--blue);
  font-size: 0.75rem;
  font-weight: 800;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.unknownUser .verb-user {
  color: var(--aqua);
  font-size: 1rem;
}

.verb-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem 0;
}

.verb-info h4 {
  color: var(--white);
  /* font-size: 1rem; */
}

.btn-ver-info-wrapper.inactive {
  display: none;
}

.btn-ver-info-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

/* -----------------  successen  -----------------  */

.successen {
  background-color: var(--blue);
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.27);

  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0;
  position: relative;
}

.successen .verb-status {
  display: none;
}

.successen.verb-succes {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 15%,
    rgba(238, 240, 246, 1) 100%
  );
}

.successen.verb-succes .verb-active-header,
.successen.verb-succes .verb-info h4 {
  color: black;
}

.successen.verb-succes .status-icon {
  color: var(--white);
  border: 1.5px solid var(--blue);
}

.successen.verb-succes .status-icon::after {
  background-color: var(--blue);
}
.successen.verb-succes .verb-status-text {
  color: var(--blue);
}

.successen.verb-succes .verb-status {
  display: flex;
}

/* INTERACTION */
.successen::after,
.verbazing-active::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--aqua);
  background-image: url(/images/icons/arrowRight.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.75rem;

  position: absolute;
  right: 1rem;
  top: 1rem;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.successen:hover::after,
.verbazing-active:hover::after {
  opacity: 1;
}

/* -----------------  verbeterprojecten  -----------------  */
.verbeter-project {
  background-color: var(--blue);
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.27);

  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0;
  position: relative;
}

.vp-header-wrapper {
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vp-header-wrapper .icEvaluatie {
  width: 2rem;
}

.vp-user-wrapper {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vp-user:nth-child(2) {
  margin-left: -0.5rem;
}

.vp-date {
  color: var(--white);
  padding-left: 0.5rem;
}

.vp-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.75rem 0 0 0;

  color: var(--white);
}

.vp-details {
  display: flex;
  flex-direction: column;
}

.vp-details p {
  margin-top: 1rem;
  font-weight: 200;
}

/* -----------------  Verbazing melden  -----------------  */
/* -----------------  Verbazing melden  -----------------  */
/* -----------------  Verbazing melden  -----------------  */

.verbazingMelden {
  display: none;
}

.verbazingMelden.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  background-color: #f5f5f5;
}

.verbazingMelden-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  position: relative;

  width: 100%;
  padding-top: 1rem;
}

.standard-header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--blue);
  z-index: 3;
}

.blueBar {
  width: calc(100%);
  height: 2rem;
  background-color: var(--blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

.verb-melden-form-wrapper {
  margin-top: 1rem;
}

/* FORM MELDEN  */

.verb-melden-form fieldset {
  border: none;
}

.verb-melden-form legend {
  display: none;
}

.verb-melden-formfield-wrapper {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0;
}

.inner-formfield-wrapper {
  width: 80%;
}

.verb-melden-form label {
  color: var(--blue);
  font-weight: 600;
}

.verb-melden-form input {
  border: none;
  position: relative;
  padding: 1rem 0 1rem 1.5rem;
  background-color: transparent;
  width: 100%;
}

.verb-melden-form input::placeholder {
  color: var(--lightgrey);
  font-family: var(--mainFont);
}

.inputIcon {
  position: relative;
}

.inputIcon::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.5rem);
  left: 0;
  width: 1rem;
  height: 1rem;
  background-image: url(/images/icons/ic-input.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
}

.verb-melden-formfield-btn-wrapper {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.btn-normalWrapper-verb-melden {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.attention {
  background-color: var(--blue);
  border-radius: 5px;
  width: 80%;

  color: var(--white);
  text-align: center;
  padding: 1rem;
}

.attention-icon {
  font-size: 1.5rem;
  margin: 0.3rem 0;
}

.attention h4 {
  margin: 0.3rem 0;
}

.verb-melden-submitBtn-wrapper {
  background: var(--white);
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

/* -----------------  Witte blokken scrollbar  -----------------  */

/* width */
.verbazingMelden-content::-webkit-scrollbar,
.lc-verbeteren::-webkit-scrollbar,
.mc-verbeteren::-webkit-scrollbar,
.rc-verbeteren::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.verbazingMelden-content::-webkit-scrollbar-track,
.lc-verbeteren::-webkit-scrollbar-track,
.mc-verbeteren::-webkit-scrollbar-track,
.rc-verbeteren::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */

.lc-verbeteren::-webkit-scrollbar-thumb,
.mc-verbeteren::-webkit-scrollbar-thumb,
.rc-verbeteren::-webkit-scrollbar-thumb {
  background: var(--white);
}

.verbazingMelden-content::-webkit-scrollbar-thumb {
  background: var(--grey);
}

/* Handle on hover */
.verbazingMelden-content::-webkit-scrollbar-thumb:hover,
.lc-verbeteren::-webkit-scrollbar-thumb:hover,
.mc-verbeteren::-webkit-scrollbar-thumb:hover,
.rc-verbeteren::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}
