<section class="agendaWrapper" id="calender">
  <div class="lc-agenda">
    <h2>Agenda</h2>
  </div>

  <div class="mc-agenda">
    <h2>Mededelingen</h2>
  </div>

  <div class="rc-agenda">
    <h2>MDO's</h2>
  </div>
</section>
