<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meldpunt Knel</title>

    <!-- css  -->
    <base href="/" />
    <link rel="stylesheet" href="style/global.css" />
    <link rel="stylesheet" href="style/buttons.css" />
    <link rel="stylesheet" href="style/loginform.css" />
    <link rel="stylesheet" href="style/registerform.css" />
    <link rel="stylesheet" href="style/content.css" />
    <link rel="stylesheet" href="style/header.css" />
    <link rel="stylesheet" href="style/overzicht.css" />
    <link rel="stylesheet" href="style/agenda.css" />
    <link rel="stylesheet" href="style/verbeteren.css" />
    <link rel="stylesheet" href="style/profiel.css" />
    <link rel="stylesheet" href="style/inputpage.css" />

    <!-- FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- SCRIPTS  -->
    <script src="js/navSelected.js" defer></script>
    <script src="js/update_goals.js" defer></script>
    <script src="js/verbazingMelden.js" defer></script>
    <script src="js/form-localstorage.js" defer></script>
    <script src="js/verbazing-oppakken.js" defer></script>
    <script src="js/wk-edit.js" defer></script>

    <!-- MANIFEST  -->
    <link rel="manifest" href="/manifest.webmanifest" />
  </head>
</html>

<!-- prettier-ignore -->
<body>
