<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meldpunt Knel</title>

    <!-- css  -->
    <base href="/" />
    <link rel="stylesheet" href="style/global.css" />
    <!-- <link rel="stylesheet" href="style/forms.css"> -->

    <!-- FONTS  -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet"> -->

    <!-- SCRIPTS  -->
    <!-- <script src="js/menu_update.js" defer></script>
    <script src="js/update_goals.js" defer></script>
    <script src="js/plan_form.js" defer></script>
    <script src="js/testing.js" defer></script>
    <script src="js/activity_timer.js" defer></script> -->

    <!-- MANIFEST  -->
    <link rel="manifest" href="/manifest.webmanifest" />
  </head>
</html>
