<section class="overzichtWrapper" id="overview">
  <div class="lc-overzicht">
    <div class="oz-wk">
      <h2>WijkKliniek</h2>
      <div class="oz-wk-wrapper">
        <div class="totaalBedden">
          <h4>Bedden</h4>
          <div class="beddenData">
            <div class="innercircle"></div>
            <p><span class="pc">20</span>/23</p>
          </div>
        </div>

        <div class="oz-wk-info">
          <div class="opnames">
            <h4>Opnames</h4>
            <div>
              <img src="images/icons/ic-person.svg" alt="icon for a person" />
              <img src="images/icons/ic-person.svg" alt="icon for a person" />
            </div>
          </div>
          <div class="ontslagen">
            <h4>Ontslagen</h4>
            <div>
              <img src="images/icons/ic-person.svg" alt="icon for a person" />
              <img src="images/icons/ic-person.svg" alt="icon for a person" />
              <img src="images/icons/ic-person.svg" alt="icon for a person" />
              <!-- <img src="images/icons/ic-person.svg" alt="icon for a person" /> -->
              <!-- <img src="images/icons/ic-person.svg" alt="icon for a person" /> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="oz-incidenten">
      <h2>Incidenten</h2>
    </div>
  </div>

  <div class="lc-overzicht">
    <div class="oz-pauzes">
      <h2>Pauzes</h2>
    </div>
    <div class="oz-visite">
      <h2>Visite</h2>
    </div>
  </div>

  <div class="rc-overzicht">
    <h2>Meldingen</h2>
  </div>
</section>
