<section class="profielWrapper" id="profile">
  <div class="lc-profiel">
    <h2>Persoonlijke informatie</h2>
  </div>

  <div class="mc-profiel">
    <h2>Jouw meldingen</h2>
  </div>

  <div class="rc-profiel">
    <h2>Betrokken in projecten</h2>
  </div>
</section>
