<section class="verbeterenWrapper" id="innovation">
  <div class="lc-verbeteren">
    <h2>Verbazingen</h2>
  </div>

  <div class="mc-verbeteren">
    <h2>Verbeterprojecten</h2>
  </div>

  <div class="rc-verbeteren">
    <h2>Successen</h2>
  </div>
</section>
