<%- include('../molecules/head.ejs'); %>

<main>
  <section class="registerUser">
    <div>
      <form action="/register" class="r-form" id="register_form" method="POST">
        <h2>Registreren bij Meldpunt Knel</h2>
        <fieldset>
          <legend>Account informatie</legend>
          <p>Deze informatie is nodig om de registratie te voltooien</p>
          <!-- username / email  -->
          <label for="signupMail">e-mailadres</label>
          <input
            type="email"
            id="signupMail"
            name="signupMail"
            placeholder="e-mailadres"
            required
          />

          <!-- password -->
          <label for="signupPassword">wachtwoord</label>
          <input
            type="password"
            id="signupPassword"
            name="signupPassword"
            placeholder="wachtwoord"
            required
          />

          <!-- first name  -->
          <label for="firstName">voornaam</label>
          <input type="text" id="firstName" name="firstName" required />

          <!-- last name -->
          <label for="lastName">achternaam</label>
          <input type="text" id="lastName" name="lastName" required />

          <!-- experience  -->
          <label for="experience">expertise</label>
          <input type="text" id="experience" name="experience" />
        </fieldset>

        <button form="register_form" type="submit" class="submitBtn">
          Registreren
        </button>
      </form>

      <p class="redirectLogin">
        Al wel een account?
        <a href="/login">Log hier in</a>
      </p>
    </div>
  </section>
</main>
