<div class="ag-punten">
  <div class="agendapunt ag-timer">
    <p class="ag-time">10.00</p>
    <p class="ag-subject">Gebak 🎂</p>
    <div class="timerIcon"><%- include('../atoms/timer.ejs'); %></div>
  </div>
</div>

<div class="ag-punten">
  <div class="agendapunt">
    <p class="ag-time">11.00</p>
    <p class="ag-subject">Opname</p>
    <div class="timerIcon"><%- include('../atoms/timer.ejs'); %></div>
  </div>
</div>

<div class="ag-punten">
  <div class="agendapunt ag-timer">
    <p class="ag-time">13.45</p>
    <p class="ag-subject">Herevaluatie vochtlijsten</p>
    <div class="timerIcon"><%- include('../atoms/timer.ejs'); %></div>
  </div>
</div>

<div class="ag-punten">
  <div class="agendapunt">
    <p class="ag-time">16.00</p>
    <p class="ag-subject">Ontslag</p>
    <div class="timerIcon"><%- include('../atoms/timer.ejs'); %></div>
  </div>
</div>
