<div class="ic-val">
  <img src="images/icons/ic-valincident.svg" alt="icon valincident" />
  <p class="ic-meta">
    <span class="ic-date">25-04</span> <span class="ic-time">15:00</span>
  </p>
  <h4>Val incident</h4>
</div>
<div class="ic-val">
  <img src="images/icons/ic-medincident.svg" alt="icon valincident" />
  <p class="ic-meta">
    <span class="ic-date">25-04</span> <span class="ic-time">15:00</span>
  </p>
  <h4>Medicatie incident</h4>
</div>
