<div class="inputPage">
  <div class="input-header">
    <!-- <div class="blueBar"></div> -->
    <div class="annuleerInput">
      <p>annuleer</p>
    </div>

    <div class="titleInput">
      <h4>Omschrijving</h4>
    </div>

    <div class="saveInput">
      <p>Opslaan</p>
    </div>
  </div>

  <!-- temp inputs  -->
  <form action="">
    <!-- situatie  -->
    <textarea
      name="VL-TI-situatie"
      class="tempInput VL-TI-situatie"
      placeholder="type hier je omschrijving"
    ></textarea>

    <!-- omschrijving verbeteractie  -->
    <textarea
      name="VL-TI-OV"
      class="tempInput VL-TI-OV"
      placeholder="type hier je omschrijving"
    ></textarea>

    <!-- wanneer geslaagd  -->
    <textarea
      name="VL-TI-WG"
      class="tempInput VL-TI-WG"
      placeholder="type hier je omschrijving"
    ></textarea>

    <!-- evaluatie  -->
    <textarea
      name="VL-TI-EV"
      class="tempInput VL-TI-EV"
      placeholder="type hier je omschrijving"
    ></textarea>
  </form>
</div>
