<div class="inputPageRP">
  <div class="input-header">
    <!-- <div class="blueBar"></div> -->
    <div class="annuleerInputRP">
      <p>annuleer</p>
    </div>

    <div class="titleInput">
      <h4>Omschrijving</h4>
    </div>

    <div class="saveInputRP">
      <p>Opslaan</p>
    </div>
  </div>

  <!-- temp inputs  -->
  <form action="">
    <!-- MELDING VOCHTLIJSTEN ER 
                situatie  -->
    <textarea
      name="RP-TI-situatie"
      class="tempInput RP-TI-situatie"
      placeholder="type hier je omschrijving"
    ></textarea>

    <!-- omschrijving verbeteractie  -->
    <textarea
      name="RP-TI-OV"
      class="tempInput RP-TI-OV"
      placeholder="type hier je omschrijving"
    ></textarea>

    <!-- wanneer geslaagd  -->
    <textarea
      name="RP-TI-WG"
      class="tempInput RP-TI-WG"
      placeholder="type hier je omschrijving"
    ></textarea>

    <!-- evaluatie  -->
    <textarea
      name="RP-TI-EV"
      class="tempInput RP-TI-EV"
      placeholder="type hier je omschrijving"
    ></textarea>
  </form>
</div>
