<div class="inputPageVLER">
  <div class="input-header">
    <!-- <div class="blueBar"></div> -->
    <div class="annuleerInputVLER">
      <p>annuleer</p>
    </div>

    <div class="titleInput">
      <h4>Omschrijving</h4>
    </div>

    <div class="saveInputVLER">
      <p>Opslaan</p>
    </div>
  </div>

  <!-- temp inputs  -->
  <form action="">
    <!-- MELDING VOCHTLIJSTEN ER 
              situatie  -->
    <textarea
      name="VLER-TI-situatie"
      class="tempInput VLER-TI-situatie"
      placeholder="type hier je omschrijving"
    ></textarea>

    <!-- omschrijving verbeteractie  -->
    <textarea
      name="VLER-TI-OV"
      class="tempInput VLER-TI-OV"
      placeholder="type hier je omschrijving"
    ></textarea>

    <!-- wanneer geslaagd  -->
    <textarea
      name="VLER-TI-WG"
      class="tempInput VLER-TI-WG"
      placeholder="type hier je omschrijving"
    ></textarea>

    <!-- evaluatie  -->
    <textarea
      name="VLER-TI-EV"
      class="tempInput VLER-TI-EV"
      placeholder="type hier je omschrijving"
    ></textarea>
  </form>
</div>
