<div class="ag-punten">
  <div class="agendapunt">
    <p class="med-source">Co</p>
    <p class="med-date">25-05</p>
    <p class="med-subject">Corona update</p>
    <div class="timerIcon"><%- include('../atoms/timer.ejs'); %></div>
  </div>
</div>

<div class="ag-punten">
  <div class="agendapunt">
    <p class="med-source">Wk</p>
    <p class="med-date">25-05</p>
    <p class="med-subject">Protocollen</p>
    <div class="timerIcon"><%- include('../atoms/timer.ejs'); %></div>
  </div>
</div>

<div class="ag-punten">
  <div class="agendapunt">
    <p class="med-source">Co</p>
    <p class="med-date">25-05</p>
    <p class="med-subject">Team overleg</p>
    <div class="timerIcon"><%- include('../atoms/timer.ejs'); %></div>
  </div>
</div>

<div class="ag-punten">
  <div class="agendapunt">
    <p class="med-source">Co</p>
    <p class="med-date">19-05</p>
    <p class="med-subject">Klinische les valgevaar</p>
    <div class="timerIcon"><%- include('../atoms/timer.ejs'); %></div>
  </div>
</div>
