<div class="rc-melding">
  <div class="pa-user-icon">
    <img
      src="images/mountains.jpg"
      alt="background user icon"
      class="pa-person-bgImage"
    />
    <p class="pa-initials">NN</p>
  </div>
  <p class="rc-melding-text">
    Verbazing
    <span class="rc-noti-verb">“rapportages bespreken”</span> gemeld
  </p>
</div>
