<div class="pa-person">
  <div class="pa-user-icon">
    <img
      src="images/mountains.jpg"
      alt="background user icon"
      class="pa-person-bgImage"
    />
    <p class="pa-initials">NN</p>
  </div>

  <p class="pa-name">Nathan Neelis</p>
</div>
