<div class="verbazingOverzicht">
  <div class="standard-header">
    <div class="blueBar"></div>
    <div class="backBtn backToVerbazingen">
      <img src="images/icons/arrowLeft.svg" alt="back icon" />
    </div>
  </div>

  <div class="verbazingOverzicht-content">
    <!-- header  -->
    <div class="verb-det-meta">
      <div class="meta-lc">
        <h2>Vochtlijsten</h2>
        <div class="chip">
          <p>verbazing</p>
        </div>
      </div>
      <div class="meta-rc">
        <div class="meta-totaalmeldingen">
          <p><span>3</span> meldingen</p>
        </div>
        <div class="meta-status-nieuw status-voltooid">
          <div class="meta-status-icon"></div>
          <p>nieuw</p>
        </div>
        <div class="meta-status-opgepakt status-active">
          <div class="meta-status-icon"></div>
          <p>opgepakt</p>
        </div>
        <div class="meta-status-verbeterd status-onvoltooid">
          <div class="meta-status-icon"></div>
          <p>verbeterd</p>
        </div>
      </div>
    </div>

    <!-- Meldingen  -->
    <div class="verb-overzicht-meldingen-wrapper">
      <!-- melding 1  -->
      <div class="verb-overzicht-melding vochtlijsten-melding1">
        <div class="verb-overzicht-datum">
          <p>03-02-2022</p>
          <div class="verb-overzicht-userIcon">
            <p>NN</p>
          </div>
        </div>

        <!-- status  -->
        <div class="verb-overzicht-meta">
          <div class="verb-overzicht-status">
            <div class="verb-overzicht-status-icon"></div>
            <p>opgepakt</p>
          </div>
          <div class="verb-overzicht-evaluatiedatum">
            <div>
              <img
                src="images/icons/ic-evaluatie.svg"
                alt="team overleg icon"
              />
            </div>
            <p>03-06-2022</p>
          </div>
        </div>

        <!-- situatie  -->
        <div class="verb-overzicht-situatie">
          <h4>Situatie</h4>
          <p>
            De vochtlijsten worden niet altijd ingevuld. Hier moeten we meer
            attent op zijn.
          </p>
        </div>
      </div>

      <!-- melding 2  -->
      <div
        class="verb-overzicht-melding verb-melding-verbeterd vochtlijsten-melding2"
      >
        <div class="verb-overzicht-datum">
          <p>10-01-2022</p>
          <div class="verb-overzicht-userIcon">
            <p>ER</p>
          </div>
        </div>

        <!-- status  -->
        <div class="verb-overzicht-meta">
          <div class="verb-overzicht-status">
            <div class="verb-overzicht-status-icon"></div>
            <p>verbeterd</p>
          </div>
        </div>

        <!-- situatie  -->
        <div class="verb-overzicht-situatie">
          <h4>Situatie</h4>
          <p>Vochtlijsten worden niet meer ingevuld.</p>
        </div>
      </div>

      <!-- melding 3  -->
      <div class="verb-overzicht-melding verb-melding-verbeterd">
        <div class="verb-overzicht-datum">
          <p>10-10-2021</p>
          <div class="verb-overzicht-userIcon">
            <p>IK</p>
          </div>
        </div>

        <!-- status  -->
        <div class="verb-overzicht-meta">
          <div class="verb-overzicht-status">
            <div class="verb-overzicht-status-icon"></div>
            <p>verbeterd</p>
          </div>
        </div>

        <!-- situatie  -->
        <div class="verb-overzicht-situatie">
          <h4>Situatie</h4>
          <p>Meer dan 9 vochtlijsten zijn deze week niet ingevuld.</p>
        </div>
      </div>
    </div>

    <!-- verbeterproject  -->
    <div class="verbeterproject-starten">
      <div class="vb-starten-wrapper">
        <h4>Problemen met het verbeteren?</h4>
        <p class="vb-starten-info">
          Zijn er problemen met het oplossen van deze verbazing, is er meer tijd
          nodig, of blijft de situatie zich voordoen? Door een verbeterproject
          te starten wordt de manager op de hoogte gebracht van de situatie en
          kan er samen naar een oplossing gekeken worden.
        </p>
      </div>

      <div class="inner-formfield-wrapper">
        <div class="btn-normalWrapper-verb-melden">
          <div class="btn-normal">Verbeterproject starten</div>
        </div>
      </div>
    </div>
    <!-- next thign -->
  </div>
</div>
