<!-- RAPPORTAGES BESPREKEN  -->
<div class="verbazing-active verb-rapportages-bespreken">
  <!-- verbazing header  -->
  <div class="verb-active-header unknownUser">
    <!-- datum -->
    <p class="verb-date">24-04-2022</p>

    <!-- verbazing status  -->
    <div class="verb-status">
      <div class="status-icon"></div>
      <p class="verb-status-text">nieuw</p>
    </div>

    <!-- verantwoordelijke  -->
    <div class="verb-user">?</div>
  </div>

  <!-- verbazing title  -->
  <div class="verb-info">
    <h4>Rapportages bespreken</h4>

    <!-- call to action  -->
    <div class="btn-ver-info-wrapper">
      <div class="btn-small">Ik pak het op</div>
    </div>
  </div>
</div>

<!-- VOCHTLIJSTEN  -->
<div class="verbazing-active verb-vochtlijsten">
  <!-- verbazing header  -->
  <div class="verb-active-header">
    <!-- datum -->
    <p class="verb-date">24-04-2022</p>

    <!-- verbazing status  -->
    <div class="verb-status">
      <div class="status-icon"></div>
      <p class="verb-status-text">opgepakt</p>
    </div>

    <!-- verantwoordelijke  -->
    <div class="verb-user">NN</div>
  </div>

  <!-- verbazing title  -->
  <div class="verb-info">
    <h4>Vochtlijsten</h4>

    <!-- call to action  -->
    <div class="btn-ver-info-wrapper inactive">
      <div class="btn-small">Ik pak het op</div>
    </div>
  </div>
</div>

<!-- Medicijnzakjes  -->
<div class="verbazing-active">
  <!-- verbazing header  -->
  <div class="verb-active-header">
    <!-- datum -->
    <p class="verb-date">23-04-2022</p>

    <!-- verbazing status  -->
    <div class="verb-status">
      <div class="status-icon"></div>
      <p class="verb-status-text">opgepakt</p>
    </div>

    <!-- verantwoordelijke  -->
    <div class="verb-user">ER</div>
  </div>

  <!-- verbazing title  -->
  <div class="verb-info">
    <h4>Medicijnzakjes</h4>

    <!-- call to action  -->
    <div class="btn-ver-info-wrapper inactive">
      <div class="btn-small">Ik pak het op</div>
    </div>
  </div>
</div>
