<div class="verbazingDetails rp-melding-details">
  <div class="standard-header">
    <div class="blueBar"></div>
    <div class="backBtn backToVerbazingsOverzichtRP">
      <img src="images/icons/arrowLeft.svg" alt="back icon" />
    </div>
  </div>

  <div class="verbazingDetails-content">
    <div class="verb-det-meta">
      <div class="meta-lc">
        <h2>Rapportages bespreken</h2>
        <div class="chip">
          <p>verbazing</p>
        </div>
      </div>
      <div class="meta-rc">
        <div class="meta-totaalmeldingen">
          <p><span>1</span> melding</p>
        </div>
        <div class="meta-status-nieuw meta-status-nieuw-rp2 status-active">
          <div class="meta-status-icon"></div>
          <p>nieuw</p>
        </div>
        <div
          class="meta-status-opgepakt meta-status-opgepakt-rp2 status-onvoltooid"
        >
          <div class="meta-status-icon"></div>
          <p>opgepakt</p>
        </div>
        <div class="meta-status-verbeterd status-onvoltooid">
          <div class="meta-status-icon"></div>
          <p>verbeterd</p>
        </div>
      </div>
    </div>

    <div class="verb-melden-form-wrapper">
      <form
        action=""
        class="verb-melden-form"
        id="verb-melden-form"
        method="POST"
      >
        <div class="situatie-main-header">
          <h4>Situatie</h4>
        </div>

        <!-- situatie-->
        <div class="verb-melden-formfield-wrapper">
          <div class="inner-formfield-wrapper">
            <label for="verb-rp-melden-situatie">Beschrijf de situatie</label>
            <p class="form-tip">
              Tip: voeg een foto of video toe om de situatie beter uit te leggen
            </p>
            <div class="inputIcon verb-rp-melden-situatie">
              <textarea
                id="verb-rp-melden-situatie"
                name="verb-rp-melden-situatie"
                placeholder="Tik om een beschrijving toe te voegen"
                readonly
              ></textarea>
            </div>
          </div>
        </div>

        <!-- call to action  -->
        <div class="verb-melden-formfield-btn-wrapper">
          <div class="inner-formfield-wrapper">
            <div class="btn-normalWrapper-verb-melden">
              <div class="btn-small">media toevoegen</div>
            </div>
          </div>
        </div>

        <div class="situatie-main-header">
          <h4>Verbeteractie</h4>
        </div>

        <!-- verantwoordelijke toevoegen  -->
        <div class="verb-melden-formfield-wrapper formfield-verantwoordelijke">
          <div class="inner-formfield-wrapper">
            <label for="verantwoordelijke"
              >Verbazing wordt verbeterd door:</label
            >
            <p class="form-tip">
              Bespreek in het team wie deze verbazing gaat verbeteren
            </p>
            <div class="verantwoordelijkeIcon rp-niemand inactive">
              <p class="verb-rp-verantwoordelijke-user">?</p>
              <input
                type="text"
                id="rp-verantwoordelijke"
                name="rp-verantwoordelijke"
                value="?"
                readonly
              />
            </div>

            <!-- button verantwoordleijke  -->

            <div class="verantwoordelijkeBtn-wrapper verantwoordelijkeBtn-rp">
              <div class="addBtn"><%- include('../atoms/plusSvg.ejs'); %></div>
              <p>voeg iemand toe</p>
            </div>
          </div>
        </div>

        <!-- omschrijving verbeteractie  -->
        <div class="verb-melden-formfield-wrapper">
          <div class="inner-formfield-wrapper">
            <label for="omschrijving_rp_verbeteractie"
              >Beschrijf de verbeteractie</label
            >
            <p class="form-tip">
              Tip: stel een realistisch doel en omschrijf dit in detail.
            </p>
            <div class="inputIcon">
              <textarea
                id="omschrijving_rp_verbeteractie"
                name="omschrijving_rp_verbeteractie"
                placeholder="Tik om een beschrijving toe te voegen"
                readonly
              ></textarea>
            </div>
          </div>
        </div>

        <!-- wanneer slaagt de verbeteractie  -->
        <div class="verb-melden-formfield-wrapper">
          <div class="inner-formfield-wrapper">
            <label for="omschrijving_rp_geslaagd"
              >Wanneer is de verbetactie geslaagd?</label
            >
            <p class="form-tip">
              Tip: Maak het doel meetbaar of geef aan wat de voorwaarden zijn
              voor het behalen van het doel.
            </p>
            <div class="inputIcon">
              <textarea
                id="omschrijving_rp_geslaagd"
                name="omschrijving_rp_geslaagd"
                placeholder="Tik om een beschrijving toe te voegen"
                readonly
              ></textarea>
            </div>
          </div>
        </div>

        <div class="situatie-main-header">
          <h4>Evalueren</h4>
        </div>

        <!--evaluatie datum  -->
        <div class="verb-melden-formfield-wrapper">
          <div class="inner-formfield-wrapper">
            <label for="evaluatie_datum"
              >Wanneer is de verbetactie opgelost?</label
            >
            <p class="form-tip"></p>
            <div class="inputTimer">
              <input
                type="text"
                id="evaluatie_datum"
                name="evaluatie_datum"
                value="03-06-2022"
              />
            </div>
          </div>
        </div>

        <!-- her evaluatie datum  -->
        <div class="verb-melden-formfield-wrapper">
          <div class="inner-formfield-wrapper">
            <label for="herevaluatie_datum">De verbazing evalueren op</label>
            <p class="form-tip"></p>
            <div class="inputTimer">
              <input
                type="text"
                id="herevaluatie_datum"
                name="herevaluatie_datum"
                value="03-09-2022"
              />
            </div>
          </div>
        </div>

        <!-- evaluatie beschrijving  -->
        <div class="verb-melden-formfield-wrapper">
          <div class="inner-formfield-wrapper">
            <label for="rp-evaluatie">Is de situatie verbeterd?</label>
            <p class="form-tip">
              Tip: leg vast wat er tijdens de evaluatie besproken is
            </p>

            <!-- checkbox verbazing opgelost?  -->

            <div class="toggleWrapper">
              <label class="switch" for="rp-nn-opgelost">
                <input type="checkbox" id="rp-nn-opgelost" />
                <div class="slider round"></div>
              </label>
              <p class="toggle-text">
                <span class="toggle-text rp-nn-opgelost-text"
                  >Nee de verbazing is niet opgelost</span
                >
              </p>
            </div>

            <div class="inputIcon">
              <textarea
                id="rp-evaluatie"
                name="rp-evaluatie"
                placeholder="Tik om een beschrijving toe te voegen"
                readonly
              ></textarea>
            </div>

            <!-- checkbox succes vermedlen  -->
            <div class="toggleWrapper">
              <label class="switch" for="rp-nn-vermelden">
                <input type="checkbox" id="rp-nn-vermelden" />
                <div class="slider round"></div>
              </label>
              <p class="toggle-text">
                <span class="rp-nn-vermelden-text">Niet</span> als succes
                vermelden
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
