<div class="verbazingOverzichtRP">
  <div class="standard-header">
    <div class="blueBar"></div>
    <div class="backBtn backToVerbazingen">
      <img src="images/icons/arrowLeft.svg" alt="back icon" />
    </div>
  </div>

  <div class="verbazingOverzicht-content">
    <!-- header  -->
    <div class="verb-det-meta">
      <div class="meta-lc">
        <h2>Rapportages bespreken</h2>
        <div class="chip">
          <p>verbazing</p>
        </div>
      </div>
      <div class="meta-rc">
        <div class="meta-totaalmeldingen">
          <p><span>1</span> melding</p>
        </div>
        <div class="meta-status-nieuw meta-status-nieuw-rp status-active">
          <div class="meta-status-icon"></div>
          <p>nieuw</p>
        </div>
        <div
          class="meta-status-opgepakt meta-status-opgepakt-rp status-onvoltooid"
        >
          <div class="meta-status-icon"></div>
          <p>opgepakt</p>
        </div>
        <div class="meta-status-verbeterd status-onvoltooid">
          <div class="meta-status-icon"></div>
          <p>verbeterd</p>
        </div>
      </div>
    </div>

    <!-- Meldingen  -->
    <div class="verb-overzicht-meldingen-wrapper">
      <!-- melding 1  -->
      <div class="verb-overzicht-melding rp-melding1">
        <div class="verb-overzicht-datum">
          <p>03-05-2022</p>
          <div class="verb-overzicht-userIcon">
            <p class="verb-rp-verantwoordelijke-details">?</p>
          </div>
        </div>

        <!-- status  -->
        <div class="verb-overzicht-meta">
          <div class="verb-overzicht-status">
            <div class="verb-overzicht-status-icon"></div>
            <p class="rp-melding1-status">nieuw</p>
          </div>
          <div class="verb-overzicht-evaluatiedatum">
            <div>
              <img
                src="images/icons/ic-evaluatie.svg"
                alt="team overleg icon"
              />
            </div>
            <p>10-05-2022</p>
          </div>
        </div>

        <!-- situatie  -->
        <div class="verb-overzicht-situatie">
          <h4>Situatie</h4>
          <p>Rapportages ook in de avond bespreken.</p>
        </div>

        <div class="cta-nieuw cta-nieuw-rp">
          <div class="cta-bespreken">
            <p>bespreken</p>
          </div>

          <div class="btn-oppakken">
            <div class="btn-ver-info-wrapper">
              <div class="btn-small btn-rp-oppakken2">Ik pak het op</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- verbeterproject  -->
    <div class="verbeterproject-starten">
      <div class="vb-starten-wrapper">
        <h4>Problemen met het verbeteren?</h4>
        <p class="vb-starten-info">
          Zijn er problemen met het oplossen van deze verbazing, is er meer tijd
          nodig, of blijft de situatie zich voordoen? Door een verbeterproject
          te starten wordt de manager op de hoogte gebracht van de situatie en
          kan er samen naar een oplossing gekeken worden.
        </p>
      </div>

      <div class="inner-formfield-wrapper">
        <div class="btn-normalWrapper-verb-melden">
          <div class="btn-normal">Verbeterproject starten</div>
        </div>
      </div>
    </div>
    <!-- next thign -->
  </div>
</div>
