<!-- VP Werkdruk  -->
<div class="verbeter-project">
  <!-- verbazing header  -->
  <div class="vp-header-wrapper">
    <!-- evaluatie datum -->
    <div>
      <img
        src="images/icons/ic-evaluatie.svg"
        alt="team overleg icon"
        class="icEvaluatie"
      />
    </div>
    <!-- datum -->
    <p class="vp-date">23-05-2022</p>

    <!-- verbeterproject status  -->
    <!-- <div class="verb-status">
      <div class="status-icon"></div>
      <p class="verb-status-text">nieuw</p>
    </div> -->

    <!-- verantwoordelijke  -->
    <div class="vp-user-wrapper">
      <div class="vp-user">NN</div>
      <div class="vp-user">ER</div>
    </div>
  </div>

  <!-- verbazing title  -->
  <div class="vp-info">
    <div class="vp-details">
      <h4>Werkdruk</h4>
      <p class="vp-intro">
        Hoe kunnen wij als team de werkdruk inzichtelijk maken?
      </p>
    </div>
  </div>
  <!-- call to action  -->
  <div class="btn-ver-info-wrapper">
    <div class="btn-normal vp-btn">lees verder</div>
  </div>
</div>

<!-- VP TD formulieren  -->
<div class="verbeter-project">
  <!-- verbazing header  -->
  <div class="vp-header-wrapper">
    <!-- evaluatie datum -->
    <div>
      <img
        src="images/icons/ic-evaluatie.svg"
        alt="team overleg icon"
        class="icEvaluatie"
      />
    </div>
    <!-- datum -->
    <p class="vp-date">13-08-2022</p>

    <!-- verbeterproject status  -->
    <!-- <div class="verb-status">
        <div class="status-icon"></div>
        <p class="verb-status-text">nieuw</p>
      </div> -->

    <!-- verantwoordelijke  -->
    <div class="vp-user-wrapper">
      <div class="vp-user">FS</div>
      <div class="vp-user">IK</div>
    </div>
  </div>

  <!-- verbazing title  -->
  <div class="vp-info">
    <div class="vp-details">
      <h4>TD Formulieren</h4>
      <p class="vp-intro">
        Het opzetten van een formulier voor een verzoek naar de technische
        dienst
      </p>
    </div>
  </div>
  <!-- call to action  -->
  <div class="btn-ver-info-wrapper">
    <div class="btn-normal vp-btn">lees verder</div>
  </div>
</div>
