<div class="totaalBedden">
  <h4>Bedden</h4>
  <div class="beddenData">
    <div class="innercircle"></div>
    <p><span class="pc"><%= wijkkliniek.totaalBedden %></span>/23</p>
  </div>
</div>

<div class="oz-wk-info">
  <div class="opnames">
    <h4>Opnames</h4>
    <div>
      <% for (let i = 5 - wijkkliniek.opnames; i < 5; i++) { %>
      <img src="images/icons/ic-person.svg" alt="icon for a person" />
      <% } %>
    </div>
  </div>
  <div class="ontslagen">
    <h4>Ontslagen</h4>
    <div>
      <% for (let i = 5 - wijkkliniek.ontslagen; i < 5; i++) { %>
      <img src="images/icons/ic-person.svg" alt="icon for a person" />
      <% } %>
    </div>
  </div>
</div>
